* {
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0; 
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

header, footer {    
    background-color: #1f2937;
    display: flex;  
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    height: 100px;
}

header .logo {
    align-self: center; 
    margin-left: 10%;
}

header .logo h3 {
    font-size: 24px;
    color: #F9FAF8;
}

header .links {
    display: flex;
    align-self: center;
    margin-left: auto;
    margin-right: 10%;
    gap: 5%;  
    }  

header .links a { 
    flex: auto 1 0;
    font-size: 18px;
    color: #E5E7EB;
}

header .links a:hover { 
    flex: auto 1 0;
    font-size: 18px;
    color: #1f2937;
    background-color: #E5E7EB;
    border-radius: 5px;
}


main {
    margin-top: 100px;
    margin-bottom: 7px;
}

.description {
    display: flex;  
    background-color: #1f2937;
}

.description .sign-up {
    
    flex: auto 1 0;
    flex-direction: column;
    margin-left: 10%;
    margin-right: auto;
    width: 50%;
}

.description.sign-up.text {
    margin: 0;
}

.description.sign-up.text h2 {
    margin: 0;
    color: #F9FAF8;
}

.description .sign-up .text p {
    margin: 0;
    margin-bottom: 2%;
    color: #E5E7EB;
}

.description .sign-up.button{
    margin: 0%;
    width: 10%;
    margin-bottom: 3%;
}

.description .sign-up button {
    margin: 0%;
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 20px;
}

.description .sign-up button:hover {
    margin: 0%; 
    background-color: #F9FAF8;
    color: #1f2937;
    border: none;
    border-radius: 20px;
}

.description .image {
    background-color: gray;
    border-radius: 20px;
    width: 30%;
    margin-left: auto;
    margin-right: 7.5%;
    margin-bottom: 3%;
}

.description .image .text {
    flex: auto;
    margin: 0;
    align-self: center;
}

.description .image .text p{
    color: #F9FAF8;
    text-align: center;
}

.information {
    display: flex;  
    justify-content: space-between;
    flex-direction: column;
    margin: 10%;
}

.information .text {
    margin: 0;
    margin-top: 2.5%;
    margin-bottom: 1%;
    flex: auto;
    font-size: 36px;
    align-self: center;
}

.information .image {
    display: flex;
    margin: 0;
    flex-direction: row;
    justify-content: center;
    column-gap: 20%;
}

.information .image .image1 {
    display: flex;
    justify-content: center;
    margin: 0;
    flex-direction: column;
}
.information .image .image2 {
    display: flex;
    justify-content: center;
    margin: 0;
    flex-direction: column;
}
.information .image .image3 {
    display: flex;
    justify-content: center;
    margin: 0;
    flex-direction: column;
}

.information .image img {
    padding: 50%;
    border: 2px solid #3882F6;
    border-radius: 20px;
}

.information .image p {
    font-size: 12px;
    text-align: center;
}

.quote {
    display: relative;
    background-color: #E5E7EB;
    padding-top: 3%;
    padding-bottom: 3%;
}

.quote .text {
    margin-left: 10%;
    margin-right: 10%;
    color: #1f2937;
}   

.quote .text h5{
    padding-left: 70%;
}

.sign-up2 {
    display: flex;
    background-color: #E5E7EB;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #3882F6;
    border-radius: 20px;
    justify-content: center;
}

.sign-up2 .text {
    
    margin: 0;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.sign-up2 .text h6 {
    font-size: 24px;
}

.sign-up2 .button {
    margin: 0;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    align-self: center;
    height: 1%;
}

.sign-up2 .button button {
    border: 2px solid #F9FAF8;
    border-radius: 5px;
    background-color: #3882F6;
    color: #F9FAF8;
}

.sign-up2 .button button:hover {
    border: 2px solid #1f2937;
    border-radius: 5px;
    background-color: #1f2937;
    color: #F9FAF8;
}


footer {
    bottom: 0;
    width: 100%;
    height: 3%;
    justify-content: center;
}

footer p {
    color: #E5E7EB;
}